html {
  font-family: "Roboto", Helvetica, sans-serif;
}

:root {
  --height-header: 4rem;
  --width-header: 10rem;
  --t1-size: 2.7rem;
  --t2-size: 2.3rem;
  --t3-size: 2rem;
  --t4-size: 1.5rem;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@font-face {
  /* font-family: chonburi;
  src: url(../font/Chonburi-Regular.ttf); */
}

@font-face {
  /* font-family: coiny;
  src: url(../font/Coiny-Regular.ttf); */
}
.flex {
  display: flex;
}

    /* HEADER */
header {
  width: 100%;
  height: var(--height-header);
  background-color: #285430 ;
  z-index: 1;
  position: fixed;
  top: 0;
}

    /* NÚT MENU */
.menu-button {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  /* border: 1px solid #fff; */
  border-radius: 5px;
}
.menu-button ion-icon{
  width: 100%;
  height: 100%;
}

    /* LOGO */
.main-logo {
  position: absolute;
  left: 8%;
}
.main-logo img {
  width: var(--width-header);
  height: var(--height-header);
}

    /* ĐIỀU HƯỚNG */
.menu {
  /* font-weight: bolder; */
  height: 100%;
  position: absolute;
  top: 50%;
  /* right: 60%; */
  transform: translateY(-50%) translateX(50%);  
}
ul.menu > li {
  list-style-type: none;
  /* width: 10rem; */
  line-height: var(--height-header);
  text-align: center;
}

.news {
  background-color: #4E944F;
}
.menu a {
  font-size: 1.4rem;
  color: #fff;
  text-decoration: none;
  display: block;
  /* width: 100%;
  height: 100%; */
  top: 50%;
  padding: 0 26px;
}
.menu > li:hover > a {
  background-color: #4E944F;

    /* THANH TÌM KIẾM */
}
/* THANH TIM KIEM */
.search-space {
  padding: 0.5rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.search-form {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .search-input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
  }
  .search-input:focus {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  .search-button {
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }    

  /* .search-button:before {
    content: "\f002";
  } */

.fa-magnifying-glass:before {
    content:  "\f002";
}

.search-button:hover {
    background-color: #777;
}


/* TIN TỨC */
.allnews {
  padding-top: 7rem;
  background-color: #f0f2f5;
  padding-bottom: 2em;
}

.newsleft {
  width: 78%;
}

.newsleft ul {
  padding: 0;
}

.newsleft li {
  margin-bottom: 0.7em;
  padding-right: 40px;
}

.newsleft li a {
  text-decoration: none;
  color: #3e3d3d;
}

.newsleft li a p {
  padding-top: 0.5em;
  font-size: 14px;
}

.image {
  margin-left: 1.5em;
}

.image img {
  width: 236px;
  height: 132px;
  border-radius: 5px;
  object-fit: cover;
}

.content {
  margin-left: 1.2em;
  box-sizing: border-box;
}

.newsright {
  width: 22%;
}

.post-box {
  /* box-shadow: 2px 2px 2px #ababab; */
  border-radius: 5px;
  /* border: 1px solid #5F8D4E; */
  background-color: white ;
}

.recent-post-right {
  padding: 10px 10px;
}

.subtitle {
  margin-bottom: 10px;
  color: #3CCF4E;
  margin-top: -1.5em;
}

.newsright > ul > li {
  list-style-type: none;
  border-bottom: 1px solid #B6E2A1 ;
}

.right-content {
  text-decoration: none;
  color: #484848;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 0.5em;
}

.newsright img {
  object-fit: cover;
  max-width: 100%;
  margin-right: 0.7em;
  width: 35px;
  height: 35px;
}



/* FOOTER */
footer {
  position: relative;
  /* top: 2rem; */
  display:flex;
  background-color: rgba(7, 107, 57,1);
  padding: 200px 0 10px 10px;
  box-sizing: border-box;
  color: #ffffff;
}
.inf{
  width: 30%;
}
footer h4{
  font-size: 20px;
  font-weight: 100px;
  letter-spacing: 0.5px;
  text-transform: uppercase ;
}
.line-footer{
  width: 50px;
  height: 3px;
  background-color: #7ce380;
  margin-bottom: 30px;
  margin-top: 20px;
}
.inf-item span{
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
  line-height: 35px;
}
/* figure.inf {
  display: flex;
} */
.introduce{
  padding: 1rem;
  width: 35%;
  transform: translateY(-20%);
}
.intro-img img{
  width: 50%;
  margin-left: 2%;
}
.intro-content p{
  margin-top: 15px;
  letter-spacing: 0.8px;
}
.advise {
  width: 35%;
  padding: 1.5%;
  background-color: rgba(25, 30, 25,0.5);
  box-sizing: border-box;
  transform: translateY(-20%);
}
.advise h4{
  text-align: center;
}
.advise .title{
  margin-left: 2px;
  font-size: 1rem;
}
.box{
  margin: 0.8rem 0;
  box-sizing: border-box;
}
.input{
  color: #d1c5c5;
  font-size: 1rem;
  background: #fff0;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 8px 5px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  margin-top: 1.5%;
  box-sizing: border-box;
}
.input:focus{
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
#name-input{
  width: 100%;
}
.contact{
  display: flex;
}
.contact .input{
  width: 80%;
}
.email{
  width: 65%;
}
.phone{
  width: 35%;
}
textarea{
  width: 100%;
}
.send-button{
  width: 100%;
  background: #00905d;
  padding: 15px;
  color: #fff;
  font-size: 20px;
  border: none;
  transition: background-color 0.1s;
}
.send-button:hover{
  background-color: #136447;
}


.backtop {
  width: 50px;
  height: 50px;
  background: #609966;
  color: white;
  border-radius: 50%;
  align-items: center;
  position: fixed;
  bottom: 30px;
  right: 20px;
  justify-content: center;
  font-style: normal;
}
